
{% load static %}


<!doctype html>
<html class="no-js" lang="ENG">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>My Clinic </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
        <!-- Place favicon.png in the root directory -->

        <!-- CSS here -->
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/meanmenu.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/default.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/responsive.css' %}">
        <link rel="stylesheet"
            href=" {% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/main/css/font-awesome.min.css' %}"> s
    </head>

    <body>

        <!-- header begin -->
        <header>
            <div class="top-bar d-none d-md-block">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-6 offset-xl-1 col-lg-6 offset-lg-0 col-md-7 offset-md-1">
                            <div class="header-info">
                                <span><i class="fa fa-phone"></i> +961 000 000</span>
                                <span><i class="fa fa-envelope"></i> <a href="/cdn-cgi/l/email-protection"
                                        class="_cf_email_" data-cfemail="b2dbdcd4ddf2d7cad3dfc2ded79cd1dddf">
                                        Myclinic@info.com </a></span>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6 col-md-4">
                            <div class="header-top-right-btn f-right">
                                <a href="{% static 'appoinment.html' %}" class="btn">Make Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- menu-area -->
            <div class="header-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-2 col-lg-4 col-md-8 d-flex align-items-center">
                            <div class="logo logo-circle pos-rel">
                                <a href="index.html"><img src= "{% static 'main/img/logo/logo2.png" alt=""' %}"</a>
                                <!--here adjust the link-->
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9">
                            <div class="header-right f-right">
                                <div class="header-lang f-right pos-rel d-none d-lg-block">
                                    <div class="lang-icon">
                                        <a href="../dentist/index.html">
                                            <img src="{%static 'main/img/icon/lang.png" alt="" '%}">
                                        </a>
                                        <span><i class="fa fa-angle-down"></i></span>
                                    </div>
                                    <ul class="header-lang-list">
                                        <li><a href="#">ENG</a></li>
                                        <li><a href="#">AR</a></li>
                                        <li><a href="#">FR</a></li>
                                    </ul>
                                </div>
                                <div class="header-social-icons f-right d-none d-xl-block">
                                    <ul>
                                        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"
                                                    style='font-size:24px'></i></a></li>
                                        <li><a href="https://www.youtube.com/"><i class="fa fa-youtube"
                                                    style='font-size:24px'></i></a></li>
                                        <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"
                                                    style='font-size:24px'></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="header__menu f-right">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li><a href="index.html">About Us</a>
                                            <!-- adjust the links-->
                                        </li>
                                        <li><a href="services.html">Services +</a>
                                            <ul class="submenu">
                                                <li><a href="services.html">Service 01</a></li>
                                                <li><a href="services-2.html">Service 02</a></li>
                                                <li><a href="services-3.html">Service 03</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="doctor.html">Meet Us +</a>
                                            <ul class="submenu">
                                                <li><a href="doctor.html">Doctor</a></li>
                                                <li><a href="doctor-2.html">Secretary</a></li>
                                                <li><a href="doctor-details.html">Nurse</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="login.html">Sign in</a>
                                        </li>
                                        <li><a href="register.html">Join +</a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">as a doctor</a></li>
                                                <li><a href="blog-left-sidebar.html">as a patient</a></li>
                                                <li><a href="blog-no-sidebar.html">as an admin</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Pages +</a>
                                            <ul class="submenu">
                                                <li><a href="about.html">About us</a></li>
                                                <li><a href="appoinment.html">Services Details</a></li>
                                                <li><a href="contact.html">Contact us</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header end -->

        <main>
            <!-- hero-area start -->
            <section class="breadcrumb-bg pt-200 pb-180" data-background= "{% static 'main/img/blog/page-bg.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-12">
                            <div class="page-title">
                                <p class="small-text pb-70">We are here for your care.</p>
                                <h1 class="font-weight-bold text-capitalize pb-40 text-primary">My Dental Clinic
                                    Features:</h1>
                                <h4> Designed with ease of use in mind, you will be up and running with My Dental Clinic
                                    in a few minutes! We have included the features that you need the most.</h4>
                            </div>
                        </div>
                        <div
                            class="col-lg-3 col-md-3 d-flex justify-content-start justify-content-md-end align-items-center">
                            <div class="page-breadcumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb ">
                                        <li class="breadcrumb-item">
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- hero-area end -->
            <!-- about-area start -->
            <section class="about-area pt-120 pb-90">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-5">
                            <div class="about-left-side pos-rel mb-30">
                                <div class="medical-icon-brand-2 medical-icon-brand-3">
                                    <img src="{% static 'main/img/about/medical-brand-icon-border.png" alt=""' %}">
                                </div>
                                <div class="about-front-img pos-rel">
                                    <img src="{% static 'img/about/about-img-3.jpg" alt=""'%}">
                                    <a class="popup-video about-video-btn white-video-btn"
                                        href="https://www.youtube.com"><i class="fa fa-play"></i></a>
                                </div>
                                <!--change the youtube video link-->
                                <div class="about-shape">
                                    <img src="img/about/about-shape.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="about-right-side pt-55 mb-30">
                                <div class="about-title mb-20">
                                    <h5>About Us</h5>
                                    <h1>Short Story About MyClinic.</h1>
                                </div>
                                <div class="about-text mb-50">
                                    <p>MyClinic is a web application to helps you organize your visits to your doctor
                                        from the comfort of your home!</p>
                                </div>
                                <div class="our-destination">
                                    <div class="single-item mb-30">
                                        <div class="mv-icon f-left">
                                            <img src="img/about/destination-icon-1.png" alt="">
                                        </div>
                                        <div class="mv-title fix">
                                            <h3>Our Mission</h3>
                                            <p>We help you book your appointments, view your operations, prices, and
                                                after visit summaries, and contact your clinic for any assistance. We
                                                will be committed to excellence in all of our services so that we may
                                                help
                                                them achieve the highest level of dental health appropriate for their
                                                needs in an atmosphere of trust and compassion.</p>
                                        </div>
                                    </div>
                                    <div class="single-item">
                                        <div class="mv-icon f-left">
                                            <img src="img/about/destination-icon-2.png" alt="">
                                        </div>
                                        <div class="mv-title fix">
                                            <h3>Our Vision</h3>
                                            <p> We will adapt, grow and evolve with our profession and society.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about-area end -->
            <!-- calculate-area start -->
            <section class="appointment-area appointment-area-3 pos-rel pt-115 pb-120"
                data-background="img/appointment/appointment-bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-8">
                            <div class="calculate-box white-bg">
                                <div class="calculate-content">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="about-title news-letter-title mb-70">
                                                <h5 class="black-color">Appointment</h5>
                                                <h1>Book Appointment</h1>
                                                <h4>NEW? Create an account <a href="login.html"
                                                        style="color:rgb(88, 88, 233)">here</a>
                                                </h4>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Book an appointment using the box-->
                                    <div class="row">

                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <form class="calculate-form appointment-form-3 mb-20" action="#">
                                                <input type="text" placeholder="Your Full Name">
                                            </form>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <form class="calculate-form appointment-form-3 mb-20" action="#">
                                                <input type="text" placeholder="Your ID">
                                            </form>
                                        </div>

                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <select>
                                                <option value="1">Operation</option>
                                                <option value="2">.</option>
                                                <option value="2">.</option>
                                                <option value="3">.</option>
                                            </select>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <form class="calculate-form appointment-form-3 mb-20" action="#">
                                                <input type="text" placeholder="Add time">
                                                <i class="far fa-clock"></i>
                                            </form>
                                        </div>
                                        <div class="col-xl-12">
                                            <form class="calculate-form appointment-form-3 mb-20" action="#">
                                                <textarea name="Special request" cols="30" rows="10"
                                                    placeholder="Special request"></textarea>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <a href="" class="btn mt-40">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- calculate-area end -->
            <!-- latest-news-area start -->
            <section class="latest-news-area pt-115 pb-90">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7">
                            <div class="section-title pos-rel mb-75">
                                <div class="section-icon">
                                    <img class="section-back-icon back-icon-left"
                                        src="{% static 'img/section/section-back-icon.png" alt=""' %}">
                                </div>
                                <div class="section-text pos-rel">
                                    <h5>Operations</h5>
                                    <h1>Get a Detailed Explanation of Every Operation in our Clinic.</h1>
                                </div>
                                <div class="section-line pos-rel">
                                    <img src="{%static 'main/img/shape/section-title-line.png" alt=""' %}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 d-none d-lg-block">
                            <div class="section-button text-right pt-80">
                                <a data-animation="fadeInLeft" data-delay=".6s" href="#"
                                    class="btn btn-icon ml-0 "><span>+</span>our
                                    clinic</a>
                            </div>
                        </div>
                    </div>
        </main>

        <!-- footer start -->
        <footer>
            <div class="footer-top primary-bg footer-map pos-rel pt-0 pb-0">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="footer-contact-info footer-contact-info-3 mb-40">
                                <div class="footer-logo mb-40">
                                    <a href="#"><img src="{%static 'main/img/logo/footer-logo.png" alt=""' %}"></a>
                                </div>
                                <div class="footer-contact-content mb-25">
                                    <p>MyClinic is a web application to helps you organize your visits to your doctor
                                        from the comfort of your home!</p>
                                </div>
                                <div class="footer-emailing">
                                    <ul>
                                        <li><i class="fa fa-envelope"></i>myclinic@info.com
                                        </li>
                                        <li><i class="fa fa-flag"></i>Beirut, Lebanon</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-1">
                            <div class="footer-widget mb-0">
                                <div class="footer-title">
                                    <h3>MyClinic Pages</h3>
                                </div>
                                <div class="footer-menu footer-menu-2">
                                    <ul>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Sign in</a></li>
                                        <li><a href="#">Join</a></li>

                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">Book an Appointment</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                        </div>
                    </div>
                </div>
                <div class="footer-bottom pt-25 pb-20">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="footer-copyright footer-copyright-3 text-center">
                                    <p>Copyright 2022 | MyClinic </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </footer>
        <!-- footer end -->

        <!-- JS here -->
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/one-page-nav-min.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/ajax-form.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/jquery.nice-select.min.js"></script>
        <script src="js/jquery.scrollUp.min.js"></script>
        <script src="js/jquery.meanmenu.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>

</html>